#progress {
    position: relative;
    margin-bottom: 30px;
}
  #progress-bar {
    position: absolute;
    background: rgb(6, 215, 93);
    height: 5px;
    width: 0%;
    top: 50%;
    left: 0;
  }
  #progress-num {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  #progress-num::before {
    content: "";
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: -1;
  }
  #progress-num .step {
    border: 3px solid lightgray;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 14px;  
    position: relative;
    z-index: 1;
  }
  #progress-num .step.active {
    border-color: rgb(13, 212, 89);
    background-color: rgb(8, 182, 31);
    color: #f9f9f9;
  }
  .btn {
      background: lightgray;    
      border: none;
      border-radius: 3px;
      padding: 6px 12px;   
  }
 #progress{
    width: 450px;
    margin-left: 20px;
   
    
 }
 .border{
    border: 2px solid;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    margin-left: 480px;
    margin-top: 250px;
   
 }
button{
    margin-left: 100px;
} 
